[2013-05-10 22:54] pixelogik opened #1 "Finish / polish support for sparse vectors in storage adapters."

[2013-05-10 22:54] pixelogik opened #2 "Complete test coverage"
Engines, sparse vector storage, all hashes.

[2013-05-21 16:28] pixelogik opened #3 "Indexing is too slow."

[2013-06-13 14:54] pixelogik opened #4 "Add option to compute and export similarity matrix as JSON file."
This would allow to use just the similarity matrix (nearest N for each vector), that can easily be stored in databases (NoSQL, SQL) for lookup. This way applications must not compute nearest neighbours on every request.

[2013-12-13 15:56] piskvorky opened #5 "Retrieving `k` nearest neighbours?"
Is there a process/parameter setting that will make sure queries return no less than `k` ANN? (and preferably also not much more than `k`... exactly `k` would be ideal)

Like when the user asks for _exactly_ top-20 most similar items.

I'm imagining something like searching nearby buckets, if there's too few candidates. I haven't checked the code yet, maybe it's already there :)

[2014-04-27 16:27] mikluko opened #6 "Python 3 compatibility"
I've done some work in this direction. Tets in `run_tests.py` are passing correctly. Pull request is coming.

[2014-05-22 09:02] #6 closed, assigned to nobody

[2014-05-22 16:31] linearregression opened #8 "Improvement on README about role of RandomBinaryProjections"
The information about role of RandomBinaryProjections is sparse.
Please improve that?

The code for experiment is clearer about that they are doing then the example usage.
Suggest improve example usage. Also have a folder 'example' containing self contained samples.

[2014-05-22 18:07] linearregression opened #9 "Crashing in storing and retrieve when data is string or list of string"
Try this library when data is a string or a list of string.
Expect storage a success and get nearest neighbor etc upon querying.

Code:
import numpy
from numpy import random
from nearpy import Engine
from nearpy.hashes import RandomBinaryProjections
from nearpy.filters import NearestFilter
from nearpy.distances import EuclideanDistance

dimension=5000
encoding_length = 10
 rbp = RandomBinaryProjec

[2014-05-23 07:32] #9 closed, assigned to nobody

[2014-07-18 18:36] ghost opened #10 "Rename AngularDistance to CosineDistance"
For clarity, be more in line with Machine Learning terminology.

[2014-07-18 20:08] #10 closed, assigned to nobody

[2014-07-28 22:57] kharazi opened #12 "Memory Usage"
Hi,
I have a problem with memory usage, my vector dim is 2**14, i know it's very large but in #3 you say about turning vectors to sparse matrix
this is my redis memory usage when my vectors count is 239:

[code]

Why it's Use about 169M of ram? is it normal for my data size?

[2014-08-03 07:47] kharazi opened #14 "Readthedocs"

[2014-08-04 12:30] #12 closed, assigned to nobody

[2014-08-04 12:33] #3 closed, assigned to pixelogik

[2014-08-04 12:34] #1 closed, assigned to pixelogik

[2014-08-09 17:48] #8 closed, assigned to nobody

[2014-08-09 17:49] #14 closed, assigned to nobody

[2014-08-09 17:50] #2 closed, assigned to pixelogik

[2014-08-12 13:09] pixelogik opened #15 "Persist hash configurations in storage"
This is needed to load hash configurations from storage (projection vectors). Otherwise random hashes are of no use.

[2014-08-12 13:13] pixelogik opened #16 "Do a tutorial using word2vec"
Word2vec apparently produces good data sets for testing hash configurations and doing a tutorial

[2014-08-12 13:15] pixelogik opened #17 "Experiment with binary trees"
This would guarantee to always get N results.

[2014-08-12 22:05] #15 closed, assigned to pixelogik

[2014-08-13 16:06] #17 closed, assigned to pixelogik

[2014-08-15 17:39] willard-yuan opened #18 "scipy.sparse.issparse(v) object has no attribute 'sparse'"
Hi, pixelogik. I'm very interested in the **Local Sensitive Hashing** and plan to use it for image retrieval. I install the **NearPy** and the **redis** packages. Then I test the following example:

[code]

It throws out the error:

[code]

So in the `randombinaryprojections.py`, it's good to `import scipy.sparse`. After I do this, it succeed.

[2014-08-15 21:36] #18 closed, assigned to nobody

[2014-08-15 23:20] shixing opened #19 "Nearest Neighbours in Cosine distance"
A vector V is hashed into a bucket B, the V is compared with all vectors in B. This only bucket B usually leads to bad performance.

A good way to solve it is to find several closest neighbour buckets in term of hamming distance. e.g. B= "1001", the neighbour buckets could be "1000" ,"1011" ... Then compare V with all vectors in these buckets.

How do you think about it ? I've implemented an exten

[2014-08-27 10:34] pixelogik opened #21 "Add save/load support to new meta-hash HashPermutations"

[2014-08-27 10:37] pixelogik opened #22 "Add more documentation and comments to the new permutation component."

[2014-08-27 10:38] pixelogik opened #23 "Start a real documentation of the library"
With detailed description of the components, tutorials, examples, etc...

[2014-08-28 06:21] shixing opened #24 "A bug in class Engine __init__() function"
In engine.py, the class `Engine` `__init__()` function, the default value for storage is MemoryStorage().
However, in this case, if I create two Engine instances without passing storage instance (i.e. using the default value), the two engine instances would share the **same** storage instance. I am not sure if you want that behavior, but to me, it's a little bit awkward.

I recommend change to thi

[2014-08-28 08:22] pixelogik opened #25 "Use tags for releases and use develop branch for development"
so that people can do pull requests on the develop branch and not the master.

[2014-08-28 12:24] #24 closed, assigned to nobody

[2014-09-01 07:02] #22 closed, assigned to pixelogik

[2014-09-29 23:32] audy opened #27 "Add function to `engine` to remove an item from the index"
I would like to be able to remove things from a bucket.

I think the function should look like this:

[code]

So simple I might come back with a PR.

[2014-12-08 15:59] toogle opened #30 "ImportError: No module named permutation.hashpermutations"
I'm trying to get the latest version of NearPy so I'm doing the following:

[code]

No virtualenv in my case. Everything is fine until I try to use it:

[code]

I believe this could be related to 90239b7.

[2014-12-17 13:09] #30 closed, assigned to nobody

[2015-06-02 19:55] #19 closed

[2015-06-10 07:42] huapeek opened #34 "When set distance=None, it actually still assign a distance function"
If I explicitly set the distance=None in the __init__, why it still set a cos distance function? Should it be just None. If I didn't set any value there, then set a default distance function. Otherwise, I have to set it again using engine.distance = None.

[2015-06-10 08:30] pixelogik commented on #34
Oh yeah, that does not make sense. Because the engine can function without a distance. Thanks for pointing that out.

[2015-08-06 03:04] dangchienhsgs opened #36 "Struggle in sparse vector"
I used csr_matrix in scipy library to represent sparse vector, but it can not suit for store_vector function of our library because a vector in scipy still be a 1xn matrix, which give the dimension =1 will be mismatch with our lshash. Could you give me an example or let me know the suitable library for computing with sparse vector and can be applied to our library.

[2015-08-28 12:19] duhaime commented on #5
Hi @pixelogik, have you by chance had an opportunity to renew work on this area? I'm also very interested in specifying / increasing k, and would love to hear if the more recent commits have contributed to this functionality.

[2015-09-16 07:00] pixelogik commented on #36
Hi,

sorry for the late reply but I currently have no time to research that. There is a test in NearPy for storing sparse vectors. Maybe that helps:

def test_hash_deterministic_sparse(self):
        x = scipy.sparse.rand(100, 1, density=0.1)
        first_hash = self.rbp.hash_vector(x)[0]
        for k in range(100):
            self.assertEqual(first_hash, self.rbp.hash_vector(x)[0])

[2015-10-26 10:08] #36 closed

[2015-10-27 08:24] kharazi opened #38 "ValueError: dimension mismatch, When using space coo matrix"
Hi there,
I have this error when updating nearpy to new version,
[code]

my vector is:
[code]
and vectorizer is a sklearn hashing vectrozier (n_features=2**18). np.linalg.norm will dot(v, v) and since v is an sparce matrix this error occurs.

[2015-10-27 18:31] pixelogik commented on #38
Thx. Will check soon.

[2015-10-28 15:09] kharazi commented on #38
It's ok in your last commit. Release new version.

[2015-10-28 15:09] #38 closed

[2015-10-29 10:28] wbittremieux commented on #6
The HashPermutations hashes seem not to be Python 3 compatible. Specifically, there are some issues using `xrange`, which doesn't exist in Python 3.

Some of the issues are the following, although the list may not be complete as I didn't try to solve them:

* permutedIndex.py: line 81, 124
* permute.py: line 42, 54, 63

[2015-10-31 13:01] pixelogik commented on #6
Thx. Might look into that at some point.

[2015-11-27 14:07] lboudard opened #41 "Use python table storage instead of pickle for hashes"
Hi,

I'v been doing some testing with nearpy, and I think it would be a good idea to replace pickle storage with python table for hashes matrixes to be able to work with data in large dimendions.
Real life problems (CF recommendation etc..) have billions of dimensions, and more dimensions we have, the more we need hash methods as well.
Pickle starts to struggle when it comes to store those large m

[2015-11-27 14:21] lboudard opened #42 "Possibility to update vectors"
Hi,

I think it would be very useful to have possibility to update vectors index.
Typically, a CF application would need to update movies/users vectors regularilly as users buy/see movies. From my undertanding of the model, it would require 1) vectorize movie before update 2) retrieve buckets containing movie vectors and remove it from set 3) vectorize movie after update and push it.
While it's ce

[2015-11-27 17:50] pixelogik commented on #42
Sounds cool, but I do not have time for this currently. If you want to participate, let me know.

[2015-11-27 17:50] pixelogik commented on #41
Sounds cool, but I do not have time for this currently. If you want to participate, let me know.

[2015-12-11 20:36] bduffany commented on #19
Could someone post a link to the paper that was attached via e-mail (mentioned way early in this thread)? I'd really like to take a look at it :)

[2015-12-11 20:43] shixing commented on #19
Here it is https://www.cs.cmu.edu/~hovy/papers/05ACL-clustering.pdf

On Fri, Dec 11, 2015 at 12:36 PM, Brandon Duffany <notifications@github.com>
wrote:

--

--

Xing Shi  史 兴

PhD Candidate

Department of Computer Science

University of Southern California

Los Angeles, CA, 90007

Home Page: xingshi.me

[2015-12-20 09:56] Naereen commented on #23
This would be great indeed. Any chance of starting it ?

[2015-12-20 11:18] pixelogik commented on #23
Not soon, sorry.

[2015-12-20 22:16] Naereen commented on #23
OK.
If you ever start, do not hesitate to ask for help, I might have time to assist you!
Anyway, thanks for your cool and well written project!

Regards.

[2015-12-21 10:36] pixelogik commented on #23
Will do. Thanks!!

[2016-01-30 18:49] adityapatadia opened #45 "Use set instead of list in redis storage to prevent duplicate vectors"
I suggest using ```sadd``` instead of ```rpush``` at https://github.com/pixelogik/NearPy/blob/master/nearpy/storage/storage_redis.py#L87

Also we should use ```smembers``` instead of ```lrange``` https://github.com/pixelogik/NearPy/blob/master/nearpy/storage/storage_redis.py#L94

This will prevent duplicate vectors.

[2016-01-30 19:06] adityapatadia commented on #45
Ignore the issue. I think it is not valid.

[2016-01-30 19:06] #45 closed

[2016-01-31 14:18] adityapatadia opened #46 "Upgrade version available in pip"
The version available in pip is not compatible with python3. Please push new compatible version.

Thanks.

[2016-02-24 20:50] armintabari opened #47 "multiple hash tables"
In LSH there are two factors that affect the accuracy, the number of bits in the code (projections) and the number of hash tables.
When you create an engin like:

_rbp = RandomBinaryProjections('rbp', 10)
engine = Engine(dimension, lshashes=[rbp])_

Does it only do one time random projection?
Can we redo the hashing multiple times to increase the accuracy?

[2016-02-24 21:59] isendel opened #48 "Sparse matrix support"
Hi,
Readme says that sparse vectors are currently support. Is that true?
I've just tries recent version from github and getting ValueError: dimension mismatch when it call a hash_vector function.
It can be just my misunderstanding how to work with this library. I can provide a code where I reproduced the error.

[2016-02-25 04:19] amorgun commented on #48
Yes they should work. There is [test](https://github.com/pixelogik/NearPy/blob/master/nearpy/tests/engine_tests.py#L62-L74) for it.

[2016-02-25 08:07] pixelogik commented on #48
@isendel Yes that should work. Please provide the code here and we can investigate.

[2016-02-25 08:09] pixelogik commented on #47
Yes you are right. That is why you can provide as may hashes as you want in the lshashes parameter.

engine = Engine(dimension, lshashes=[rbp1, rbp2, rbp3, rbp4, rbp5])

would use five hashes. Is that what you meant?

[2016-02-25 17:11] armintabari commented on #47
So by passing 5 hashes to the engine it would run 5 times and compare them to increase accuracy? if yes, then that is exactly what I mean.

[2016-02-25 17:36] isendel commented on #48
@amorgun, @pixelogik Thank you for quick response. I found out the root cause of my error. I was trying to store a vector that is not in the shape that Engine accepts. In my case I have a vectors with 2^18 elements each in CSR format. I specified the Engine dimension as 2^18 and was storing vectors shaped like (1, 2^18). That was my fault. Looks like the only axis that Engine is supposed to accept

[2016-03-03 01:45] wanderer2 commented on #46
Seconded. Thanks in advance.

[2016-03-06 10:19] adityapatadia commented on #46
Is anyone maintaining this project? If help is needed to maintain this project, I can offer my axe.

[2016-03-06 13:47] pixelogik commented on #46
@adityapatadia  Currently not really. Help would actually be very welcomed. Do you want to be a contributor?

[2016-03-07 06:34] adityapatadia commented on #46
I would love to be. Let me know how would you like to take this ahead. We would also need to push newer versions to PIP, lets figure out how can we manage it.

[2016-03-14 21:45] #47 closed

[2016-03-14 21:52] armintabari opened #49 "Number of returned neighbors"
I have this problem that I always get 10 results from the engine.neighbours() function. It doesn't matter how many projections I have of what is the bucket size.

Am I missing something? Could not find any setting on number of neighbors returned.

[2016-03-15 06:04] amorgun commented on #49
By default it returns 10 nearest neighbours, [here](https://github.com/pixelogik/NearPy/blob/master/nearpy/engine.py#L73) is the default filters setup. You need to pass custom `vector_filters` in order to get other number of neighbours.

[2016-03-20 10:09] adityapatadia commented on #46
Can you update on this?

[2016-03-21 10:45] pixelogik commented on #46
Yeah sorry. So busy. I can just make you a collaborator. Will do that now.

[2016-03-22 17:58] adityapatadia commented on #46
How to publish new version to PIP? Is there any access required for the same?

[2016-03-24 08:14] pixelogik commented on #46
Unfortunately I dont see a way to add somebody to the NearPy package on pypi. So I have to release that.

[2016-03-24 22:06] armintabari opened #50 "engine.store_vector"
For a large number of vectors, it takes a long time to call "engine.store_vector()" for all the data points.
Is there faster way to index the vectors?

BTW, thank you for answering quickly.

[2016-03-25 11:08] amorgun commented on #50
@armintabari It's hard to answer without example code. E.g., if you are using `RedisStorage` you may tinker it to group multiple `store_vector` operations into one pipeline and get significant speedup.

[2016-04-18 06:11] StevenLOL opened #51 "Any idear how to save the engine?"
Hi, is there a way to save the object "engine" to disk? So I don't have to rerun the code if there is a reboot.

[2016-05-11 07:34] sagi-schein opened #52 "cpickle required on py3 - crash redis storage"
fix to - storage_redis.py
line 34
#------ ----------------------
try:
    import cPickle
except:
    import pickle

[2016-06-07 08:35] erramuzpe opened #54 "nearpy.io down"
Seems like it has been out of service for more than a week.

Thanks for the project, it is really nice :)

[2016-06-07 09:22] pixelogik commented on #54
Yeah I cancelled the domain actually. The project is fine without the website. Thanks!

[2016-06-07 09:22] #54 closed

[2016-06-14 08:11] eldor4do commented on #51
Try using pickle.

[code]

[2016-06-22 16:06] MaxwellRebo commented on #4
What about a graph database output? (Titan, Neo4j, etc)

[2016-06-22 16:10] MaxwellRebo commented on #16
I use this in conjunction with Word2Vec, and can produce a quick tutorial. Where should it be placed? This project's wiki?

[2016-06-22 16:11] MaxwellRebo commented on #42
Any resolution to this?

[2016-06-22 16:12] MaxwellRebo commented on #42
@lboudard this has been here for a bit, any interest in taking it back up?

[2016-06-23 08:59] pixelogik commented on #42
I still don't have time, sorry. Too busy with work. But if you guys wanna contribute I can add you as collaborators.

[2016-06-23 10:01] adityapatadia commented on #42
I will look after PR if someone is ready to send.

On 23 June 2016 at 2:29:31 PM, Ole (notifications@github.com) wrote:

I still don't have time, sorry. Too busy with work. But if you guys wanna
contribute I can add you as collaborators.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/pixelogik/NearPy/issues/4

[2016-07-12 08:46] neerajBaji commented on #42
Hi,

I am working on a similar CF problem whereby I would need to update the index. Can you sign me on as a contributor? I will give this a shot.

[2016-07-22 20:11] joosep-wm commented on #46
Any news regarding fix for Python 3?
I'm getting this error with Python 3
http://pastebin.com/UP7JBw3W

[2016-07-25 06:03] pixelogik commented on #46
Hm I should release a new version on PyPi I guess.

[2016-08-01 11:28] erramuzpe commented on #42
Hi @pixelogik , @adityapatadia , @neerajBaji and @MaxwellRebo

I'm also interested in this. The way of doing it should be to look for a given index and deleting both the index and the vector corresponding to that index. Then, the update will come through a new index operation. Seems easy, but I'm not sure where to start from.

cheers!

[2016-08-01 11:29] erramuzpe commented on #42
Related to #27 @audy

[2016-08-01 13:46] erramuzpe commented on #42
I think I have it! It would be nice if someone could do this for RedisStorage too :+1:

[2016-08-03 18:14] adityapatadia commented on #52
@pixelogik I think we already have this in place in master branch. Can we consider releasing new version? Last version released was in June 2015.

[2016-08-03 18:22] adityapatadia commented on #46
@pixelogik if you can run tests and update new version, that would be great. If you are too busy, may be you can share credentials for the pip to me and I will take care of it.

[2016-08-04 03:34] pixelogik commented on #46
@adityapatadia That would be great actually. Could you write me an email to ole@pixelogik.de and we manage some skype chat or something?

[2016-08-06 18:08] adityapatadia commented on #46
@pixelogik Mailed you from personal mail id.

[2016-09-23 11:33] adityapatadia commented on #23
@Naereen If you want to help, you can now send PRs. I will ensure that they are merged.

[2016-09-23 11:34] #23 closed

[2016-09-23 11:35] adityapatadia commented on #25
Most of time does not happen. People will create PR on master. Using tags is good idea.

[2016-09-23 11:35] #25 closed

[2016-09-23 11:36] adityapatadia commented on #34
@huapeek PR will be appreciated.

[2016-09-23 11:37] #34 closed

[2016-09-23 11:38] #49 closed

[2016-09-23 11:39] #50 closed

[2016-09-23 12:36] #27 closed

[2016-09-23 12:37] #42 closed

[2016-09-27 13:05] #52 closed

[2016-09-27 13:06] #46 closed

[2016-09-30 08:35] deshanadesai opened #59 "Empty Sequence returned by Nearest Neighbour query"
Hi,

I am using the example usage code snippet to hash vectors into buckets and find the nearest neighbour. I have stored 20 vectors of 4096 dimensions each in the engine. Querying the engine for the nearest neighbour of a test vector occasionally returns an empty sequence.

I tried increasing the number of random projections to 4000 with the same results. Can you help me to understand why this is

[2016-09-30 09:03] amorgun commented on #59
@deshanadesai Can you provide an example code?

[2016-09-30 09:29] deshanadesai commented on #59
@amorgun - Here is an example code:

[code]
Any help will be appreciated. Thanks!

[2016-09-30 11:45] amorgun commented on #59
@deshanadesai It looks like the length of hash is too high. Effectively you split your space into 2^50 parts and at most 20 of them contains any points. If you choose a query randomly chance to find any neighbours is at most 20 / 2^50 = 1.7763568e-14.

Some code for experiments:
[code]

[2016-09-30 11:49] Naereen commented on #23
Sorry, I won't have time to do it myself alone :cry:.

[2016-09-30 12:05] adityapatadia commented on #23
This is what we have so far: http://pixelogik.github.io/NearPy/ I also don't have much time but the doc seems enough to get started. Let's hope support will pour in future.

[2016-09-30 12:58] pixelogik commented on #23
Guys, so sorry that I am off on this. Awesome that you take over for now! I hope NearPy is of good use.

[2016-10-02 21:29] deshanadesai commented on #59
I understood this. Thank you very much @amorgun . It would be nice to have a method that selects the optimum number of binary projections. I would be willing to further read up on this and contribute to the code if you think it is worthwhile.

[2016-10-02 21:29] #59 closed

[2016-12-12 03:39] Zehaos opened #60 "TypeError: unhashable type: 'numpy.ndarray'"
Hi,
I'm trying NearPy, and I got some error. Below is some code and error message.
[code]
[code]

The code crash when n_d is below 15.
 Is this a bug?

Thanks
Zehao Shi

[2017-03-10 14:32] braingineer opened #62 "Mismatch between docstring and functionality"
There is at least one mismatch that I'm noticing right now. Specifically, the functionality specified in the docstring of `Engine` doesn't match what happens.

For example, in [`engine.py`](https://github.com/pixelogik/NearPy/blob/master/nearpy/engine.py#L49), you say:

[code]

But you're specifically [replacing all incoming `None` arguments with default values](https://github.com/pixelogik/NearPy

[2017-03-10 14:54] braingineer commented on #5
@MaxwellRebo it was resolved as the `NearestFilter`.

e.g.

[code]

[2017-04-14 16:36] ayush488 commented on #5
So does NEarpy has a parameter to input the 'k' value? Instead of returning only 10 NN, I want to get user given 'k' neighbors. How can I do that?

[2017-04-26 17:40] skhater17 opened #63 "Adding new images and removing an exisitng images index"
I'm new to using the NearPy package. I'm having set of images with  their vectors of  features that are already indexed. If i get a new image, Is there a function that allows me to add to specific bucket according to this image's similarity to other images already existing?

Also if i need to remove an index of a specific image that i deleted from my dataset, is there a function for that?

Thanks

[2017-04-26 19:38] RahulGupta-Reflektion opened #64 "What are the plans for adding supports to store index data in mongo ?"
I was using Redis to store index for index application. As Redis stores everything as string, this drives the memory usage up.
Is anybody working on integrating mongo to store indexes?

[2017-07-04 09:33] vega110 opened #65 "what's the effect of permutations hash object?"
At first, I only put RandomBinaryProjections hash in my codes, and  it did not yield good results ,but I can repeat run my query function, not include index vector function, eg engine.store_vector(vector, data);

when I add HashPermutations object in my code. such as
permutations = HashPermutations('p')
rbp_conf = {'num_permutation':50, 'beam_size':10, 'num_neighbour':10}
permutations.add_child_ha

[2017-10-07 01:12] mariusvniekerk opened #67 "No sdist available on pypi"
Can you upload an sdist to pypi?

https://pypi.python.org/pypi/NearPy

As part of https://github.com/conda-forge/staged-recipes/issues/3858 I want to package this as a conda-forge feedstock.

[2017-10-31 16:35] mhbkb commented on #67
+1
Also waiting for the sdist available on pypi.

[2017-10-31 17:18] warsaw commented on #67
A source tarball also helps for other downstream consumers such as Debian.

[2017-11-01 08:59] pixelogik commented on #67
Sorry guys, I will try to find time for this in November.

[2017-11-03 00:39] mariusvniekerk commented on #67
Thanks

[2017-11-13 03:02] posix4e commented on #48
Can we close this?

[2017-11-13 16:44] #48 closed

[2017-11-30 18:07] pixelogik commented on #62
@braingineer Yeah that's weird. Will check where that line with CosineDistance() is coming from

[2017-12-02 16:38] mmemon-deeppixel-ai opened #69 "Actively maintained?"
Hi There,

Is this library being actively maintained?

Please advise.

[2017-12-18 16:31] sarthakTUM opened #70 "Storage wrapper for Postgres?"
In my opinion, Postgres is a highly used Database and there should be storage support for Postgres Database as well. I am willing to take up this task.
Planning to use Psycopg2 interface

[2017-12-22 19:13] pixelogik commented on #69
@mmemon-deeppixel-ai I was inactive for a long time, sorry. This year has been really busy.

But I wanna get back onto it.

[2017-12-22 19:13] #69 closed

[2017-12-22 19:16] pixelogik commented on #70
@sarthakTUM Sure if you want to do this, feel free to do so! Please make sure that the code and documentation is consistent to the rest of the library.

[2017-12-22 19:16] pixelogik commented on #64
@RahulGupta-Reflektion Nobody is working on this yet.

Are you interested in working on this?

[2018-01-05 20:32] sarthakTUM commented on #70
Hi, could you assign this issue to me?

[2018-02-06 13:15] xieqihui commented on #64
I have added supports for MongoDB in this PR.
https://github.com/pixelogik/NearPy/pull/72
Welcome to review and improve it.

[2018-02-06 14:05] pixelogik commented on #64
Closing this ticket because we are working on the pull request #72 . Thanks for your request @RahulGupta-Reflektion !

[2018-02-06 14:05] #64 closed

[2018-02-06 14:15] amorgun opened #73 "Configure CI"
After https://github.com/pixelogik/NearPy/pull/40 this repository works well with Travis CI so I suggest the following:
- Enable building of this project at https://travis-ci.org/pixelogik/NearPy
- Add badge to readme

[2018-02-06 14:16] pixelogik commented on #73
@amorgun Yeah good point. Will try to do that soon.

[2018-02-06 14:41] pixelogik opened #75 "Please fix the Redis store_many_vectors_case"
@xieqihui Sorry for the hassle.

Could you please create a new pull request for your _store_many_vectors_ addition and make this little adjustment I suggested, so that _store_many_vectors_ works even if not Redis is used for storage?

[2018-02-06 14:48] pixelogik commented on #73
@amorgun Done

[2018-02-06 14:48] #73 closed

[2018-02-06 14:52] amorgun commented on #73
https://github.com/pixelogik/NearPy/commit/2c4298cb87b9b57470ee0b1f4336a9fa06c7b6ba#r27372661

[2018-02-06 15:16] amorgun commented on #73
Pull request check would also be nice. I am looking at https://github.com/pixelogik/NearPy/pull/72 and cannot see test results there.

[2018-02-06 15:25] pixelogik commented on #73
@amorgun Agreed. Pull request will not be merged with out tests. Pull request is currently in discussion anyway because of something else.

[2018-02-07 14:12] xieqihui commented on #75
I have fixed this according to your suggestion in https://github.com/pixelogik/NearPy/pull/76. Can you check it again?

[2018-02-07 14:42] pixelogik commented on #75
@xieqihui Thanks! Could you do me one more favor and add tests for the new method store_many_vectors? Sorry for not mentioning this before, but now that more people are working on NearPy we should take care of the tests for real.

[2018-02-13 09:10] xieqihui commented on #75
I’m working on the tests.

Best regards,
Qihui

From: Ole <notifications@github.com>
Reply-To: pixelogik/NearPy <reply@reply.github.com>
Date: Wednesday, 7 February 2018 at 10:42 PM
To: pixelogik/NearPy <NearPy@noreply.github.com>
Cc: Qihui Xie <qihui@propertyguru.com.sg>, Mention <mention@noreply.github.com>
Subject: Re: [pixelogik/NearPy] Please fix the Redis store_many_vectors_case (#75)

@xieq

[2018-07-24 13:23] rajekta opened #77 "nearest neighbour list is empty"
On running the example code, the list of nearest neighbours is empty.
N = engine.neighbours(query)

Can you explain why is that so?

[2018-07-31 13:31] adizhol opened #78 "Support for generating and searching in L hash tables"
Hi,
I didn't see this feature while experimenting with NearPy API, so apologies if I missed something...
As I understand NearPy.Engine creates a single LSH hash table. Most ANN algorithms use a number of hash tables to reduce false negative rates (missing a close neighbor).
Is it possible to create a simple API for this in NearPy?

Thanks!

[2018-07-31 13:35] pixelogik commented on #78
Hi,

having multiple hash tables is actually the default use case with NearPy. The Engine constructor has the lshashes parameter, which takes an array of hash tables, each being an instance of a LSHash subclass/implementation.

Best regards

[2018-07-31 13:40] adizhol commented on #78
Hi @pixelogik,
so each RandomBinaryProjections() creates a single hash table?
And if I want 10 tables, I would do something like this:
[code]
Thank you

[2018-07-31 14:02] pixelogik commented on #78
Yes :)

[2018-07-31 14:14] #78 closed

[2018-08-03 21:27] uriva opened #79 "Use Hilbert space filling curve?"
I'm curious about the choice of random binary projections versus Hilbert curve. Does rbp outperform it?

Would it make sense to add another hasher?

[2018-08-05 16:40] pixelogik commented on #79
@uriva I have no experience with using Hilbert curves in this application.

If you are interested in adding a hilbert curve based hash to NearPy feel free to do so :) Would be highly appreciated.

[2018-09-07 14:56] GertjanBrouwer opened #81 "collect_all_bucket_keys() KeyError: '0'"
Hi,

I am getting:

[code]

I generated a RandomBinaryProjectionTree and added about 206 images.
I set the minimum amount to be retrieved to 2.
It gives me this error.
When I set it to 1 I don't get errors.

[2018-09-14 09:15] rajekta opened #82 "retrieving permuted indexes"
I want to store and retrieve the indexes formed after permutation.
How can I do that.
Please Help.

[2018-11-15 16:22] mkoralew opened #83 "stored vector cannot be list"
Hi, due to unitvec function there is no possibility to store 'list' vector - it has to be np.array /ndarray, otherwise None is returned.

Due to fact there is no imput check maybe it will be nice to edit unitvec function so it will change list object to np.array, e.g:

[code]

[2018-11-15 16:24] mkoralew commented on #82
@rajekta - I think you can easilly obtain it using labels:

[code]

Then looking for similar vectors will be
[code]

[2018-11-19 11:39] pixelogik commented on #83
@mkoralew I think the whole framework expects vectors to be of type np.array / ndarray?

I never tried it with list vectors. Are you saying that this is the **only** place where this conversion would be needed in order to make list vectors work?

If you want to use list vectors and they are not supported by the framework feel free to add the support including tests in a pull request.

[2019-01-14 07:49] panwarbhanu commented on #16
@MaxwellRebo @pixelogik I am using it on Word2Vec output and candidate count changes drastically for different iterations with same parameters.

Also, I believe nearpy produces only 1 hash table. However, multiple hash tables should be produced to amplify probability of collision.

[2019-01-17 00:46] Shellcat-Zero opened #84 "Question for finding string similarity"
Hi,

I was hoping to leverage NearPy to find similarities between strings, but it's not clear to me how to query the engine with a string vector (if that's possible).  My use case is that I have ~30 million names to store in the engine, and I have around 1.5 million names to submit as queries to find a best match from the engine.  I was going to use your Redis storage adapter so that all of the qu

[2019-02-15 06:30] Dr-Champ opened #85 "Multi-threading support"
Hi,

First of all, thanks for such a nice project. We've been looking for a good ANN library with persistence support for a while, so we can share the built index across multiple docker containers easily when doing horizontal scaling.

However the documentation isn't so clear on supporting multi-threading applications. How should I treat the instances of `Engine` class? Can they be shared across t

[2019-02-15 10:19] amorgun commented on #85
You can't safely share an `Engine` instance between multiple threads without external locks.

[2019-02-15 13:29] pixelogik commented on #85
Hi @Dr-Champ - when I began with NearPy I did not consider multi-threading. Shame on me. I would be more then interested in adjustments / additions which change that.

[2019-03-01 06:25] Dr-Champ commented on #85
Hi @pixelogik @amorgun . Thanks for clarification. I guess it's not such a big deal. I can create an instance of `Engine` per thread without sharing. Since each instance is created from precomputed data in Redis already it's not that costly to do so. However the documentation could have been more clear on this point though. :)

[2019-03-01 06:25] #85 closed

[2019-03-12 06:43] aquibjaved commented on #51
@unography I tried your suggestion but didn't work out.
can you help please.
`---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-12-9a6f4c5d06bd> in <module>
      1 import pickle
----> 2 pickle.dump(engine,open('engine.p','wb'))
      3
      4 """# to load
      5 engine = pickle.l

[2019-03-12 09:20] amorgun commented on #51
You cannot save an Engine object because it holds storage and not all storages can be pickled. I assume you use redis or mongo storage. In that case, you can store hash configuration [as described at the Readme](https://github.com/pixelogik/NearPy#hash-configurations) and create a new engine from the stored hash configuration and new database connection.

[2019-03-12 10:13] aquibjaved commented on #51
Thank you for the reply, I am Redis for storage.
It seems like I am doing some mistake can you please below.

![Screenshot 2019-03-12 at 3 41 59 PM](https://user-images.githubusercontent.com/14982079/54192193-6ab1a900-44dd-11e9-8621-57663f2bc01b.png)

[2019-03-12 13:36] aquibjaved commented on #51
Hi @amorgun
Got your point, thanks!
btw I'm trying similar like in Readme, Still facing some issue with it. can you please have a look.
![Screenshot 2019-03-12 at 3 41 59 PM](https://user-images.githubusercontent.com/14982079/54204219-ca1db200-44f9-11e9-9d2c-3d3988b736de.png)

[2019-03-12 14:40] amorgun commented on #51
You probably haven't saved hash configuration before loading it.
Readme example handles this case by checking for None:
[code]

[2019-03-13 05:45] aquibjaved commented on #51
Got it @amorgun  thanks.
It's working now

[2019-04-03 19:56] pixelogik commented on #84
@Shellcat-Zero sorry for the long silence.

NearPy is very modular and allows users to customize the pipeline they are using.

It is however based on numerical vectors. So you would need to convert your strings to numerical vectors. I bet there are a couple of methods for this out there. The most straightforward way I can think of is to first lower case the name and then map the string to an array

[2019-05-02 05:55] pixelogik commented on #77
@rajekta Could you please specify which example code your are running?

[2019-05-02 05:56] pixelogik commented on #77
Could you please explain again what you are observing? The English is hard to understand, sorry.

[2019-05-03 16:39] xyyimian opened #86 "stored vector being revised"
I was going to compute recall rate using NearPy. But I found that the vectors I stored has been revised.

The following is what I did.
I stored a bunch of vectors in engine. And I did
`recall_list = engine.neighbours(vectors[0])`
I printed out recall_list[0], the third element, which is the distance, shows that recall_list[0] is just vectors[0] since the distance is 0.0.
But I compared concrete ve

[2019-05-05 11:07] xyyimian commented on #86
I just found the reason why the vectors are revised. The library used unitvec to normalized vectors before storing. But I think it will cause bugs if users want to use euclidean metric.

I have done a test. I stored [1,1,1.1] and [0.1,0.1,0.1] in the engine and query with [1,1,1]. I got normalized [0.1,0.1,0.1] as nearest neighbor.

[2019-06-12 08:11] pixelogik commented on #86
@xyyimian You are right. For euclidian distance usage the normalization is just a bug. This probably was not detected before because the default is cosine and most people use cosine anyway.

We should add a new function to the **Distance** class, called _normalize_vector()_, which is used in the Engine. Do you want to do this? If not I will do it at some point in the future.

[2019-08-21 17:46] relh commented on #77
I found that I got empty responses from `engine.neighbours(x)` when I assigned an engine to an object instance variable after instantiating and storing it. This didn't happen if I just kept around the initial object.

[2020-02-16 19:35] sarthakTUM opened #88 "redis object not used in the _add_vector function"
Minor issue.

The `redis_object` in the `_add_vector` function of the [storage_redis.py](https://github.com/pixelogik/NearPy/blob/master/nearpy/storage/storage_redis.py) is not being used since the `redis_object` is already associated with `self`, and there is no point in passing it as argument to the function.

[2020-02-16 21:44] amorgun commented on #88
Thanks for notising this. `redis_object` should be used [here](https://github.com/pixelogik/NearPy/blob/b874f47bdedfc234e3a639a0ebae9b9c02a51925/nearpy/storage/storage_redis.py#L105) instead of `self.redis_object`. This argument is necessary for `store_many_vectors` method.

[2020-02-17 06:25] sarthakTUM commented on #88
I'll revise the PR

[2020-02-17 20:26] sarthakTUM commented on #88
Done

[2020-02-18 20:11] sarthakTUM commented on #88
@amorgun Could you please check the PR? - I am not able to add you as a reviewer there. Thanks!

[2020-04-04 22:38] idigitopia commented on #77
could you point out to the spotify library ??

[2020-04-04 23:04] idigitopia commented on #77
If i understand it correctly if you are using a large dimensionality and generating random numbers to populate the bins. Because of the curse of dimensionality, it may happen that the candidate bins are all empty hence returning an empty list. Hopefully, it won't be that big of a problem with real-world datasets.

[2020-04-06 11:29] #77 closed

[2020-05-22 20:09] samlobel opened #90 "Option to normalize or not"
For certain projections at least (RandomBinary for example), it doesn't seem to make a difference whether you normalize the elements for where they hash. But if you care about the _actual_ distance in real space, it appears difficult to recover this since the vectors are stored normalized.

I admit I don't understand LSH at a deep level -- would it break the math to make the `unitvec` part an opti

[2020-09-03 08:22] VsevolodZakharov opened #91 "Obsolete PyPI version"
Please update the version in the repo.

[2020-12-29 00:21] glicerico opened #92 "Add sklearn pipeline support"
This library does not work with sklearn Pipelines as it is now.
I converted the RandomBinaryProjections this way, for a project I am working on in [this repo](https://github.com/glicerico/SGNN/blob/a327426671a2ad978e794a23aae8aa0405d95ecb/SGNN/core.py#L34)

[2021-01-21 18:28] pixelogik commented on #92
@glicerico Do you want to create a pull request for that edit?

[2021-01-21 18:29] pixelogik commented on #91
@VsevolodZakharov Thanks for the hint. I try to find the time.

[2021-02-14 21:44] Apkar029 opened #93 "Calling store_vector on scipy.sparse.csr_matrix allocates memory when it shouldn't."
I have input samples as a sparse matrix of shape **(531990 samples, 85765 features)**.

The size of this matrix in memory is **56KB**. The matrix as a numpy array is approximately 340GB.

When i use the **_MemoryStorage_** option i run out of memory. This is due to the **_vec = vec.tocsr()_** in
**_unitvec_** function. The input vectors added by **_store_vector_** are scipy.sparse.csr.csr_matrix o

[2021-06-28 22:50] timgates42 opened #94 "Proposing a PR to fix a few small typos"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate and Expected Behaviour

- Examine nearpy/hashes/permutation/hashpermutationmapper.py, nearpy/hashes/permutation/hashpermutations.py and observe `separatly`, however expect to see `separately`.
- Examine nearpy/filters/vectorfilter.py and observe `tupes`, however expect to see `tuples`.
- Examine nearpy/hashes/permutation/permutedIndex.py and obser

[2021-09-24 15:27] pixelogik commented on #94
@timgates42 If you still have the time for it, could you please create the pull request? Thank you!

[2021-09-26 01:45] timgates42 commented on #94
thx @pixelogik created https://github.com/pixelogik/NearPy/pull/95

[2022-10-27 02:14] PyDeps opened #96 "Project dependencies may have API risk issues"
Hi, In **NearPy**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using

[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API Error